doctype html
html(ng-app="theBest")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js")
    script(src="/javascripts/scripts.js")
  body

    ul
      li
        a(ng-href="#/") Home
      li
        a(ng-href="#/wishlist") Channel Wish List


    h1= title
    p Welcome to #{title}

    div(ng-view)
